html, body {
    font-family: 'Anonymous Pro', monospace;
    margin: 0;
    padding: 0;
}

div#headerFragment {
    background: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    padding-right: 2%;
    padding-left: 2%;
    font-size: x-large;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form#forAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    padding: 25px;
    background: black;
    color: white;
}

div#entering {
    margin-top: 6%;
    margin-bottom: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text" i] {
    border: 3px white solid;
    color: white;
    padding: 2%;
    width: 90%;
    height: 25px;
    font-size: x-large;
    margin-bottom: 7%;
    background: none;
    font-family: 'Anonymous Pro', monospace;
}

input[type="password" i] {
    border: 3px white solid;
    color: white;
    padding: 2%;
    width: 90%;
    height: 25px;
    font-size: x-large;
    margin-bottom: 7%;
    background: none;
    font-family: 'Anonymous Pro', monospace;
}

input[type="submit" i] {
    border: 3px white solid;
    color: white;
    width: 90%;
    height: 45px;
    font-size: x-large;
    margin-bottom: 7%;
    background: none;
    font-family: 'Anonymous Pro', monospace;
}

input[type="submit" i]:hover{
    border: 3px white solid;
    color: black;
    width: 90%;
    height: 45px;
    font-size: x-large;
    margin-bottom: 7%;
    background: white;
    font-family: 'Anonymous Pro', monospace;
}

div#footerFragment {
display: flex;
    width: 100%;
    background: black;
    color: white;
}

div#mapFoot{
width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#contactFoot{
width: 33.333%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div#contactFoot li{
    font-size: x-large;
}

div#creditsFoot{
width: 33.333%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div#creditsFoot p{
    text-align: center;
margin-block: 0;
    font-size: x-large;
}

div#creditsFoot li{
    font-size: x-large;
}

div#myProfile {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #232323;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
    border: 3px solid black;
    color: white;
}

div#myProfile img {
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 3px solid white;
}

button {
    border: 3px white solid;
    color: white;
    width: 40%;
    height: 45px;
    font-size: x-large;
    margin-bottom: 15px;
    background: none;
    font-family: 'Anonymous Pro', monospace;
}

button:hover{
    color: black;
    background: white;
}

div#myProfile input[type="text" i] {
    border: 3px white solid;
    color: white;
    padding: 2%;
    width: 40%;
    height: 25px;
    font-size: x-large;
    margin-bottom: 15px;
    background: none;
    font-family: 'Anonymous Pro', monospace;
}

hr {
    width: 100%;
    color: white;
}

table img {
    object-fit: cover !important;
    border-radius: 50% !important;
    width: 60px !important;
    height: 60px !important;
    border: 3px solid white !important;
}

.blockUserButton {
    width: 100%;
}

input[type="submit" i]{
    border: 3px white solid;
    color: white;
    width: 100%;
    height: 58px;
    font-size: x-large;
    margin-bottom: 15px;
    background: none;
    font-family: 'Anonymous Pro', monospace;
}

input[type="submit" i]:hover{
    border: 3px white solid;
    color: black;
    width: 100%;
    height: 58px;
    font-size: x-large;
    margin-bottom: 15px;
    background: white;
    font-family: 'Anonymous Pro', monospace;
}

input[type="number" i] {
    border: 3px white solid;
    color: white;
    padding: 2%;
    width: 100%;
    height: 25px;
    font-size: x-large;
    margin-bottom: 15px;
    background: none;
    font-family: 'Anonymous Pro', monospace;
}

button#uploadPhotoButton {
    border: 3px white solid;
    color: white;
    width: 100%;
    height: 58px;
    font-size: x-large;
    margin-bottom: 15px;
    background: none;
    font-family: 'Anonymous Pro', monospace;
}

button#uploadPhotoButton:hover{
    color: black;
    background: white;
}

img#productImg{
    object-fit: cover !important;
    border-radius: 0 !important;
    width: 150px !important;
    height: 150px !important;
    border: 3px solid white !important;
    margin-bottom: 15px;
}

form#addProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form#addProduct input[type="text" i] {
    border: 3px white solid;
    color: white;
    padding: 2%;
    width: 100%;
    height: 25px;
    font-size: x-large;
    margin-bottom: 15px;
    background: none;
    font-family: 'Anonymous Pro', monospace;
}

.deleteProduct{
    width: 100%;
}

.simpleProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.simpleProduct img {
    width: 200px !important;
    height: 200px;
    border: 6px solid white !important;
}

div#products {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    background: #232323;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
    border: 3px solid black;
    color: white;
}

#productList{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    background: #232323;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
    border: 3px solid white;
    color: white;
}

.simpleProduct button{
    width: 80% !important;
}

.simpleProduct button :hover{
    width: 80% !important;
}

#cartDiv{
    position: fixed;
    top: 50%;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background: #828282;
    border: 4px solid;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
}

#cartClose{
    color: white;
    cursor: pointer;
}

#cartClose:hover{
    color: #333333;
    cursor: pointer;
}

#cartClear{
    color: white;
    cursor: pointer;
}

#cartClear:hover{
    color: #333333;
    cursor: pointer;
}

#cartConfirm{
    color: white;
    cursor: pointer;
}

#cartConfirm:hover{
    color: #333333;
    cursor: pointer;
}

.confirmOrderButton{
    width: 100% !important;
}