<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopy - Добавление товара</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
</head>
<body>
<header th:insert="includes/head.html :: headerFragment"> </header>
<main>
    <div id="myProfile">
        <h2>Добавления товара</h2>
        <hr>
        <img id="productImg">
        <form id="addProduct" method="post" th:action="@{/admProduct}">
            <input id="image" type="text" placeholder="Ссылка на изображение товара" required>
            <input id="title" type="text" placeholder="Название товара" required>
            <input id="description" type="text" placeholder="Описание товара" required>
            <input id="cost" type="number" placeholder="Цена товара" required>
            <input id="submitAdd" type="submit" value="Добавить">
        </form>
    </div>
</main>
<footer th:insert="includes/foot.html :: footerFragment"> </footer>
</body>
</html>