<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shopy - Главная</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
</head>
<body>
<header th:insert="includes/head.html :: headerFragment"> </header>
<main>
    <div id="products">
        <h2>Наш ассортимент: </h2>
        <div id="sorting">
            <input id="searching" type="text" placeholder="Поиск устройств">
            <input id="minCost" value="0" type="number" placeholder="Минимальная цена">
            <input id="maxCost" value="140000" type="number" placeholder="Максимальная цена">
        </div>
        <div id="productList">
            <div th:if="${allProducts.empty}">
                <div>Продуктов пока нет, приходите завтра :)</div>
            </div>
            <div class="simpleProduct" th:each="p : ${allProducts}">
                <img th:src="${p.image}"/>
                <span th:id="'title' + ${p.id}" th:text="${p.title}"></span>
                <span th:text="${p.description}"></span>
                <span class="allCosts" th:id="'cost' + ${p.id}" th:text="${p.cost}"></span>
                <button sec:authorize="isAuthenticated()" class="addToCart" th:value="${p.id}">В корзину</button>
            </div>
        </div>
    </div>
</main>
<footer th:insert="includes/foot.html :: footerFragment"> </footer>
</body>
</html>