<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopy - Профиль</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
</head>
<body>
<header th:insert="includes/head.html :: headerFragment"> </header>
<main>
    <div id="myProfile">
        <img style="margin-bottom: 15px" th:src="${currentUser.img}"/>
        <input id="avatarInput" type="text" placeholder="Ссылка на изображение профиля"><button id="uploadAvatarButton">Загрузить фото</button>
        <h2 th:text="${currentUser.surname + ' ' + currentUser.name + ' ' + currentUser.patronymic}"></h2>
        <h3 th:text="${currentUser.address}"></h3>
        <h3 th:text="${currentUser.email}"></h3>
    </div>
</main>
<footer th:insert="includes/foot.html :: footerFragment"> </footer>
</body>
</html>