<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Подвальный файл</title>
</head>
<body>
<div id="footerFragment" th:fragment="footerFragment">
    <div id="mapFoot">
        <h2>Мы на картах</h2>
        <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/194/saratov/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Саратов</a><a href="https://yandex.ru/maps/194/saratov/house/politekhnicheskaya_ulitsa_77/YEwYfwBnQUMHQFtrfXlzeHtmZg==/?ll=45.979830%2C51.529758&utm_medium=mapframe&utm_source=maps&z=17" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUeMPEo-A" width="400" height="300" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    </div>
    <div id="contactFoot">
        <h2>Наши контакты</h2>
        <ul>
            <li>Instagram: <a href="https://www.instagram.com/k.ermoshenko/">наш профиль</a></li>
            <li>Вконтакте: <a href="https://vk.com/kasatochka_o">наш профиль</a></li>
            <li>Viber: +79374354654</li>
            <li>Whatsapp: +79374354654</li>
            <li>Телефон: +79374354654</li>
        </ul>
    </div>
    <div id="creditsFoot">
        <h2>О сайте</h2>
        <p>Данный сайт разработан в качестве задания РГР.</p>
        <br>
        <p>Стек технологий:</p>
        <ul>
            <li>Java/Spring</li>
            <li>HTML5/CSS</li>
            <li>JavaScript/AJAX</li>
            <li>Thymeleaf</li>
            <li>MySQL</li>
        </ul>
    </div>
</div>
</body>
</html>